@charset "utf-8";
/* CSS Document */
*{ margin: 0; padding: 0; }
li{list-style: none; }
a{text-decoration: none; color: #333;}

body {
    font-family: Arial;
}

#wrap{width: 100%;}

header{
    width: 100%;
    height: 252px;
   /* background-color: aqua; */

}

#top_area {
   
    width: 100%;
    height: 205px;
   /* background-color: blueviolet; */
    margin: 0 auto;
}

#top_area h1{
    font-size: 48px;
    text-align: center; 
    padding-top: 60px;
  
    
}

#top_area a{
    color: cadetblue;
   
}
#top_area p{
    font-size: 14px;
    text-align: center;
    font-weight: bold ;
  
}

header nav{
    width: 100%;
    height: 45px;
    background-color: cadetblue;
    border-bottom:2px solid #fff;
}

nav > ul {
    width: 100%;
    height: 45px;
    margin:0 auto;
    padding-left: 33px;
    /*background-color:#ccc; */
}

nav > ul > li {
    height: 45px;
    float:left;
    font-size: 16px;
    line-height: 40px;
    font-weight: bold ;
   
}

nav > ul > li > a {
	padding:0 17px;
    color: #fff;
}

#apiweb{
    
    height: 900px;
  /*background-color: antiquewhite; */

}
.time{
    font-size: 30px;
    font-weight: bold;
    position: absolute;
    top: 320px;
   left: 70px;
}

.time{
    color: #333;
    font-size: 30px;
    font-weight: bold;
    position: absolute;
    top: 320px;
   left: 90px;
}
#map{
        width: 1000px;
        height: 700px;
        position: relative;
        right: 100 px;
        bottom: 700px;
        margin: 0 auto;
}

#clock{
    position: absolute;
    top: 324px;
    left: 280px;
    font-size:35px;
    color:cadetblue;
}
.info-title {
    display: block;
    background: #50627F;
    color: #fff;
    text-align: left;
    width: fit-content;
    height: 180px;
    width: 400px;
    line-height:20px;
    border-radius:4px;
    padding:20px 10px 10px 10px;
    font-size: 14px;
    
   
}

.btn{
    width: 150px;
    height: 70px;
    position: absolute;
    top: 370px;
    left: 259px;
    text-align: center;
    border: 0;
    outline: 0;
    background-color: rgb(136, 219, 222);
}

.info-title h2{
margin-top: 10px;
}

